<div class="show">
<h1>Who's Been Here Today?</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" abbr="title">First Name</th>
    <th scope="col" abbr="title">Last Name</th>
    <th scope="col" abbr="text">Grade</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<% @posts.each do |post| %>
  <tr class="alt">
    <td><%= post.first_name %></td>
    <td><%= post.last_name %></td>
     <td><%= post.grade %></td>
  </tr>
<% end %>

</table>

<h1><a href="http://localhost:3000">Home</a></h1>
<div>