<h1>Thank you for clocking in!</h1>
<div class = "show">
<p>
  <strong>First Name:</strong>
  <%= @post.first_name %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @post.last_name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @post.grade %>
</p>

<p>
  <strong>Time:</strong>
  <%= Time.now.in_time_zone("Central Time (US & Canada)") %>
</p>
</div>
<h1><a href="http://localhost:3000">Home</a></h1>
